@charset "utf-8";
body {
    background-color: #F1A56B;
    color: #04203E;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
h1 {
    color: #090808;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
}
table {
    background-color: #CF9EF4;
    color: #090808;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
